---
layout: page

---

<!-- {% for post in paginator.posts %}
  <div class="posts-container">
    <h1>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %} -->
<!-- Pagination links -->
<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->

<img src="{{ site.github.url }}/assets/img/Comet.jpeg">

<h1>
  Hello, World!
</h1>

<p>I am Caroline, a PhD student in particle and accelerator physics. I am not, however, pictured above—that would be Comet, my research assistant and member of the species <i>Felis catis</i>. I am, regrettably, a <i>Homo sapien</i>.</p>

<p>This website is my brain dump. A gallery of my <a href="{{ site.github.url }}/photography.html">photography</a> highlights (predominantly wildlife) lives here. My <a href="{{ site.github.url }}/blog.html">blog</a>—<i>Life, the Universe, and Everything</i>—will comprise essays on anything and everything I find interesting, including but not limited to: science, math, sci fi, animals, and environmental conservation... but mostly physics. In the future, this site will also provide intel on my <a href="{{ site.github.url }}/projects.html">projects</a>—both professional and personal—but for now that is left as an exercise to the time travelers.</p>

<p>If you are (for some reason) inclined to contact me, try a subspace hail. Or I suppose you could just <a href="mailto:criggall@tennessee.edu">send an email</a>.</p>